:root {
    --black: #000;
    --white: #FFF;
    --grey: #858585;
    --highlight: #00FDA0FF;
}

html,
body {
    line-height: 1
}

::selection {
    color: var(--white) !important;
    background-color: var(--black) !important;
}

::-moz-selection { /* Code for Firefox */
    color: var(--white) !important;
    background-color: var(--black) !important;
}
