:root {
  --black: #000;
  --white: #fff;
  --grey: #858585;
  --highlight: #00fda0ff;
  --highlight-invert: #ff025f;
  --primary: 0, 0, 0;
  --secondary: 255, 255, 255;

  --border: 2px;
  --height-md: 50px;
  --gutter-lg: 50px;
  --bdradius: 4px;

  --height-header: 50px;
  --height-content: calc(100dvh - var(--height-header) - var(--height-footer));
  --height-content-header: 50px;
  --height-content-body: calc(var(--height-content) - var(--height-content-header));
  --height-footer: 50px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: 255, 255, 255;
    --secondary: 0, 0, 0;
  }
}

:root[data-theme='dark'] {
  --primary: 255, 255, 255;
  --secondary: 0, 0, 0;
}
:root[data-theme='light'] {
  --primary: 0, 0, 0;
  --secondary: 255, 255, 255;
}

.dark\:underline:where([data-mode='dark'], [data-mode='dark'] *) {
  --primary: 255, 255, 255;
  --secondary: 0, 0, 0;
}

html,
body {
  color: rgb(var(--primary));
  background: rgb(var(--secondary));
  line-height: 1;
}

::selection {
  color: rgb(var(--secondary)) !important;
  background-color: rgb(var(--primary)) !important;
}

::-moz-selection {
  color: rgb(var(--secondary)) !important;
  background-color: rgb(var(--primary)) !important;
}

::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


@media (prefers-color-scheme: dark) {
  :root {
    --primary: 255, 255, 255;
    --secondary: 0, 0, 0;
  }
}
