:root {
    --black: #000;
    --white: #FFF;
    --grey: #858585;
    --highlight: #00FDA0FF;
    --primary: 0, 0, 0;
    --secondary: 255, 255, 255;

    --border: 2px;
    --height-md: 50px;
    --header-height: 80px;
    --footer-height: 38px;
    --gutter-lg: 50px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: 255, 255, 255;
        --secondary: 0, 0, 0;
    }
}

:root[data-theme='dark'] {
    --primary: 255, 255, 255;
    --secondary: 0, 0, 0;
}
:root[data-theme='light'] {
    --primary: 0, 0, 0;
    --secondary: 255, 255, 255;
}

.dark\:underline:where([data-mode='dark'], [data-mode='dark'] *) {
    --primary: 255, 255, 255;
    --secondary: 0, 0, 0;
}


html,
body {
    color: rgb(var(--primary));
    background: rgb(var(--secondary));
    line-height: 1
}

::selection {
    color: rgb(var(--secondary)) !important;
    background-color: rgb(var(--primary)) !important;
}

::-moz-selection {
    color: rgb(var(--secondary)) !important;
    background-color: rgb(var(--primary)) !important;
}

/*@layer utilities {*/
/*    .text-balance {*/
/*        text-wrap: balance;*/
/*    }*/
/*}*/
